@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Recursive:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .30);
}

::-webkit-scrollbar-thumb {
    background: #a427e2;
}